@font-face {
    font-family: '💪';
    src:  url('/static/fonts/Radnika-Bold.woff2') format('woff2'),
          url('/static/fonts/Radnika-Bold.woff') format('woff');

}

@font-face {
  font-family: 'rad';
  src:  url('/static/fonts/Radnika-Light.woff2') format('woff2'),
        url('/static/fonts/Radnika-Light.woff') format('woff');
}


:root {
  --font-family-sans-serif: 'rad';
  --text-color: #1d1d1d;

  --brand-primary: #F1C15D;
  --brand-secondary: #95BF6F;

  --component-border-color: #F1C15D;
  --component-box-shadow: 0 1px 3px color(var(--black) a(50%)); */

  --state-danger-color: #F8495F;
}